body {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}

.content {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
}

.Control {
    padding: 5px;
    margin-top: 10px;
    background: #f2f2f2;
    height: 100px;
    border-radius: 5px;

    .row {
        float: left;
        width: 50px;
        margin-right: 20px;
    }

    .column {
        float: left;
        width: 50px;
        margin-right: 20px;
    }

    .x {
        float: left;
        margin-top: 35px;
        margin-right: 20px;
        color: #666666;
        font-size: 0.85em;
    }

    .generate__btn {
        float: left;
        width: 50px;
    }

    .control__wrapper {
        margin: 20px 0 0 20px
    }

    .label {
        margin-bottom: 5px;
        font-size: 0.85em;
        color: #666666;
    }

    .btn__generate {
        text-align: center;
        float: left;
        width: 80px;
        border: none;
        font-size: 0.8em;
        padding-top: 8px;
        cursor: pointer;
        height: 33px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: rgb(74, 144, 226);
        color: white;
        margin-top: 25px;
    }

    .btn__generate:hover {
        background-color: rgb(118, 181, 225);
    }

    .btn__generate:active {
        background-color: rgb(35, 88, 150);
    }

}



.Grid {
    margin-top: 20px;
    height: 500px;
    border-radius: 3px;
    font-size: 0px;
    border-bottom: 1px solid #d8d8d8;
}

.GridCell {
    border-top: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    display: inline-block;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    cursor: pointer;

    &.filled {
        background: rgb(241, 241, 241);
    }

    &.filled:hover {
        background: rgb(248, 248, 248);
    }

    &.filled:active {
        background: rgb(226, 226, 226);
    }

    &.path {
        background: rgb(245, 166, 35);
    }

    &.path:hover {
        background: rgb(248, 248, 248);
    }

    &.path:active {
        background: rgb(226, 226, 226);
    }

    &.start {
        background: rgb(126, 211, 33);
        cursor: default;
    }

    &.end {
        background: rgb(99, 149, 48);
        cursor: default;
    }
}

.GridCell:last-child {
    border-right: 1px solid #d8d8d8;
}